
 @font-face {
  font-family: 'KG Second Chances Sketch';
  src: url('./fonts/KGSecondChancesSketch.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    position: relative;
    min-height: 100%;
  }

body {
  background-color: #4980f718;
  margin-bottom: 100px;
}

.header {
  padding: 30px 0;
}

.title {
  text-align: center;
  font-size: 46px;
  margin-bottom: 10px;
  margin-left: 25px;
  color: rgba(255, 6, 6, 0.932);
  font-family: 'KG Second Chances Sketch';
  letter-spacing: 4px;
}

/*
.sub-title {
  text-align: center;
  letter-spacing: 45px;
  margin-left: 74px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-shadow: -0.07em 0.05em 0.08em #000; 
}
*/

.main {
  margin-top: -30px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  max-width: 1700px;
}

.settings-panel {
  display: flex;
  flex-direction: column;
}

.settings-panel label {
  display: block;
  margin: 1.35em auto;
  white-space: nowrap;
}

.settings-panel #color-picker {
  cursor: pointer;
  height: 75px;
  width: 200px;
  border-radius: 0.5em;
}

.settings-panel input[type='color'] {
  cursor: pointer;
  padding: 3px;
  background-color: white;
  border-radius: 0.2em;
}

#randomBTN, #eraserBTN, #clearBTN, #gridBTN {
  height: 75px;
  width: 200px;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5em;
  cursor: pointer;
}

#clearBTN, #gridBTN {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  letter-spacing: 0.8px;
  cursor: pointer;
}

/** GRID **/

.grid {
  display: grid;
  height: 550px;
  width: 550px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: crosshair;
}

/** CANVAS SLIDER **/

input[type='range'] {
  margin-top: 590px;
  -webkit-appearance: none; 
  cursor: grab;
  display: flex;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid black;
  border-radius: 25px;
  background: rgb(255, 255, 255); 
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: rgb(0, 0, 0); 
}

/** FOOTER **/

.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-shadow: -0.05em 0.05em 0.1em #000; */
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 15px;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .main {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .main {
    gap: 50px;
  }

  .settings-panel {
    width: 150px;
    gap: 16px;
  }

  .grid {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 25px;
    margin-left: 0px;
  }

  .sub-title {
    font-size: 10px;
    margin-left: 10px;
    letter-spacing: 25px;
    margin-left: 20px
  }

  #gridSlider {
    margin-top: 330px;
  }

  .settings-panel {
    margin-top: 20px;
    width: 200px;
    gap: 20px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .grid {
    width: 300px;
    height: 300px;
  }
} 